---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import FunnelCards from '../components/FunnelCards.astro';
import WhyUs from '../components/WhyUs.astro';
import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';

import '../styles/global.css';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <div class="molding-wrapper" id="molding">
      <div class="molding-content">
        <FunnelCards />
        <WhyUs />
        <ContactForm />
      </div>
    </div>
  </main>
  <Footer />
</Layout>
